@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply global font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Global scrollbar style */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #dadfe6 #edf2f7; /* Thumb and Track colors for Firefox */
}

/* Webkit scrollbar styles (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #edf2f7; 
}

*::-webkit-scrollbar-thumb {
    background-color: #cad0d8; /* Thumb color */
    border-radius: 4px;
}
/* Hide the number input spinners for Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input spinners for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
